<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <title>Map</title>
</head>
<body>
  <header class="app-header">
    <nav>
      <ul class="app-nav">
        <li>
          <a class="app-nav-ref" href="#">Profile</a>
        </li>
        <li>
          <a class="app-nav-ref" href="#">Locations</a>
        </li>
        <li>
          <a class="app-nav-ref" href="#">Statistics</a>
        </li>
        <li>
          <a class="app-nav-ref" href="#">Settings</a>
        </li>
      </ul>       
        <form action="user/logout" method="POST">
          <input type="submit" value="logout" class="logout">
        </form>
    </nav>
    </header>
    
    <div id="map"></div>
  
    <div class="loc-highlight" id="loc-highlight"></div>
        <div class="curr-loc-highlight" id="curr-loc-highlight" onclick="alert('click!!')"></div>
        
	<div class="popup-container" id="popup-container" style="display:none">
		<div class="popup">
			<form action="/api/locations" method="POST" id="nameDailyMsgForm">
				<a href="#" id="closeForm">close</a>
				Enter a name of location
				<input type="text" maxLength="30" name="name" id="name" required/><br/>
				Enter a daily message
				<input type="text" maxlength="100" name="dailyMsg" id="dailyMsg"/><br/>
				<input type="submit" />
			</form>
		</div>
	</div>
  <div class="loc-info" style="display: none" id="output">
    <a href="#" class="close">close</a>
    <div>
      <h2 class="info-heading" id="click-loc-heading"></h2>
      <br>
      Location coords: <span id="click-location"></span>
    </div>
  </div>
  <div class="current-loc-info" id="current-loc-info">
    <a href="#" class="close">close</a>
    <div>
      <h2 class="info-heading">Current location</h2>
     <p> User coords: <span id="users-geocords"></span></p>
      <p>Location coords: <span id="users-location"></span></p>
    </div>
    <button class="occupy-btn" id="occupy-btn" <!-- style="display: none">Occupy</button>
    </div>
    
    <!-- <div id="info-box"></div> -->
  <script src="js/map2.js"></script>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVvJYiAmFhsqumbf3mNFYaBvHJczJSrh0&callback=initMap">
        </script>
    
</body>
</html>