:root {
  --if-color: rgba(65, 65, 65, 1);
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  height: 100%;
  font-family: sans-serif;
}

body {
  min-width: 300px;
}
body,
html {
  height: 100%;
  margin: 0;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #b2dfdb;
  color: #004d40;
}

nav{
  display: flex;
  Justify-content: space-between;
}

.app-nav {
  /* display: flex; */
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #b2dfdb;
  display: none;
}

.open .app-nav {
  display: block;
}
.app-nav-ref {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.app-nav-ref:hover {
  background-color: #80cbc4;  
}

.logout{
  padding: 10px 20px;
  background-color: #00897b;
  border: none;
  color: #b2dfdb;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
}

.world-map {
  width: 200vh;
  height: 100%;
  min-height: 300px;
  background: url('../img/map-bg.jpg') no-repeat 50% 50%;
  background-size: 115% 115%;
  position: relative;
}

.popup-container {
	width: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,0.5);
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center; 
}

.popup-container .popup{
	width: 300px;
	height: 100px;
	padding: 10px;
	background-color: #c5c5c5;
	border-radius: 3px;
	box-shadow: 0px 0px 10px #000;
}

#closeForm {
	text-decoration: none;
	float: right;
}

.curr-loc-highlight,
.loc-highlight {
  width: 10%;
  height: 10%;
  position: absolute;
  display: none;
}


.loc-highlight {
  background-color: rgba(0, 0, 100, 0.5);
}

.curr-loc-highlight {
  background-color: rgba(100, 0, 0, 0.5);
}

.loc-info {
   position: fixed; 
  line-height: 30px;
  padding: 12px 30px;
  box-sizing: border-box;
  bottom: 2px;
  left: 2px;
  right: 2px;
  margin: 0;
  background-color: #b2dfdb;
  color: #00695c;
  transition: transform .6s ease;
  display: none;
}
.loc-info span {
  display: block;
}
.loc-info .btn {
  margin: 0 auto;
  display: block;
}

.loc-info.show-form,
.loc-info.show-current,
.loc-info.show-clicked {
  display: block;
}


.loc-info.hide {
  transform: translateY(100%);
}

.info-heading {
  margin: 5px 0;
  text-align: center;
}

#map {
  height: 100%;
}

#info-box {
  background-color: white;
  border: 1px solid black;
  bottom: 30px;
  height: 20px;
  padding: 10px;
  position: absolute;
  left: 30px;
}
.close {
  position: absolute;
  right: 10px;
  top: 15px;
  text-indent: 9999px;
  overflow: hidden;
  width: 15px;
  height: 15px;
   transform: rotate(135deg); 
   transition: transform .3s ease;
}
.close:before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  display: block;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
}

.close:hover {
  opacity: .7;
}


.current-loc-info.open {
  /* transform: translateY(-100%); */
  /* z-index: 2; */
}

.loc-info.open {
  transform: translateY(calc(-100% - 30px));

}
.current-loc-info.open .close,
.loc-info.open .close {

  /* transform: rotate(-45deg);  */
}


.btn {
  border: none;
  border-radius: 0;
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid #00796b;
  border-radius: 2px;
  display: inline-block;
  color: #00796b;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:focus {
  color: #e0f2f1;
  background-color: #00796b;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border:2px solid #ff5722;
  color: #ff5722;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  display: block;
  font-weight: bold;
  outline: none;
}
.close-btn:hover {
  cursor: pointer;
  opacity: .8;
}


.menu-btn {
  width: 30px;
  height: 20px;
  margin: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn .toggle {
  width: 100%;
  height: 4px;
  background-color: #004d40;
  position: relative;
  border-radius: 10px;
  transition:all .4s ease-in-out;
}
.menu-btn .toggle:before,
.menu-btn .toggle:after {
  content:"";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #004d40;
  border-radius: 10px;
  transition:all .4s ease-in-out;
}
.menu-btn .toggle:before {
  top: -8px;
}
.menu-btn .toggle:after {
  bottom: -8px;
}

.open .menu-btn .toggle {
  background-color: transparent;
}

.open .menu-btn .toggle:before {
  transform: rotate(45deg);
}
.open .menu-btn .toggle:after {
  transform: rotate(-45deg);
}
.open .menu-btn .toggle:before,
.open .menu-btn .toggle:after {
  top: 0;
  bottom: auto;
}

.hide-btn {
  width: 27px;
  height: 27px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  padding: 4px;
  /* border: 2px solid #ff5722; */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  /* transform: rotate(-135deg); */
  outline: none;
  color: #ff5722;
  

}
.hide-btn .hide-icon {
  width: 10px;
  height: 10px;
  display: block;
  margin: 0 auto;
  border: 2px solid transparent;
  border-bottom-color: #ff5722;
  border-right-color: #ff5722;
  transform: rotate(45deg);
}

.occup-form,
.clicked-loc-info,
.current-loc-info {
  display: none;
}

.show-form .occup-form {
  display: block;
}
.show-clicked .clicked-loc-info {
  display: block;
}
.show-current .current-loc-info {
  display: block;
}

.show-btn {
  width: 45px;
  height: 45px;
  margin: 0;
  background-color: #80cbc4;
  border-radius: 2px;
  padding: 8px 4px 0;
  /* border: 2px solid #ff5722; */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  bottom: 100%;
  outline: none;
  display: none;
}
.show-btn .show-icon {
  width: 14px;
  height: 14px;
  display: block;
  margin: 0 auto;
  border: 2px solid transparent;
  border-bottom-color: #000;
  border-right-color: #000;
  transform: rotate(-135deg);
}


.hide .show-btn {
  display: flex;
}


.occupy-form {
  padding: 20px 0 0;
  display: none;
}

.show-form .occupy-form  {
  display: block;
}
.occupy-form input,
.occupy-form textarea {
  background-color: #e0f2f1;
  border: 1px solid #00897b;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  padding: 7px 10px;
  outline: none;
  resize: none;
}

.form-item {
  margin: 5px 0;
}

.form-btns {
  display: flex;
}
.form-btns .btn {
  margin: 0 10px; 
}


.btn-center {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  position: absolute;
  right: 35px;
  bottom: 100%;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e53935;
  color: #fff;
  border-color: #e53935;
  transform: translateY(-15px);
}
.btn-center:hover {
  background-color: transparent;
  color: #e53935;
}
.my-message {
   width:300px;
   min-height:80px;   
   background-color:var(--if-color);   
   text-align: center;
   border: 2px groove black;
   color: white;
}
.my-message-title {
  height:20px;
  font-size:120%;
  background-color:chocolate;
}
.my-message-body {
  padding: 5px;
  min-height: 50px;