:root {
  --if-color: rgba(65, 65, 65, 1);
}

html {
  height: 100%;
  font-family: sans-serif;
}

body {
  min-width: 300px;
}
body,
html {
  height: 100%;
  margin: 0;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--if-color);
}

nav{
  display: flex;
  Justify-content: space-between;
}

.app-nav {
  /* display: flex; */
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-nav-ref {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.app-nav-ref:hover {
  background-color: rgba(255, 255, 255, 0.1);  
}

.logout{
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.world-map {
  width: 200vh;
  height: 100%;
  min-height: 300px;
  background: url('../img/map-bg.jpg') no-repeat 50% 50%;
  background-size: 115% 115%;
  position: relative;
}

.curr-loc-highlight,
.loc-highlight {
  width: 10%;
  height: 10%;
  position: absolute;
  display: none;
}


.loc-highlight {
  background-color: rgba(0, 0, 100, 0.5);
}

.curr-loc-highlight {
  background-color: rgba(100, 0, 0, 0.5);
}

.current-loc-info,
.loc-info {
   position: fixed; 
  line-height: 30px;
  padding: 10px 20px;
  box-sizing: border-box;
  /* display: none; */
  top: 100%;
  left: 2px;
  right: 2px;
  margin: 0;
  background-color: #fefefe;
  /* color: ; */
  border: 1px solid #999;
  border-radius: 5px;
  transform: translateY(-30px);
  transition: transform .6s ease;
}

.loc-info {
  transform: translateY(-60px);
  display: none;
}

.loc-info.show-current,
.loc-info.show-clicked {
  display: block;
}

.clicked-loc-info,
.current-loc-info {
  display: none;
}

.loc-info.show-current .current-loc-info {
  display: block;
}

.loc-info.show-clicked .clicked-loc-info {
  display: block;
}

.info-heading {
  margin: 5px 0;
}

.occupy-btn {
  display: block;
  /* position: absolute; */
  right: 20px;
  padding: 14px 30px;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px auto 10px;
}

.occupy-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}



#map {
  height: 100%;
}

#info-box {
  background-color: white;
  border: 1px solid black;
  bottom: 30px;
  height: 20px;
  padding: 10px;
  position: absolute;
  left: 30px;
}
.close {
  position: absolute;
  right: 10px;
  top: 15px;
  text-indent: 9999px;
  overflow: hidden;
  width: 15px;
  height: 15px;
   transform: rotate(135deg); 
   transition: transform .3s ease;
}
.close:before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  display: block;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
}

.close:hover {
  opacity: .7;
}


.current-loc-info.open {
  transform: translateY(-100%);
  /* z-index: 2; */
}

.loc-info.open {
  transform: translateY(calc(-100% - 30px));

}
.current-loc-info.open .close,
.loc-info.open .close {

  transform: rotate(-45deg); 
}