:root {
  --if-color: rgba(65, 65, 65, 1);
}

html {
  height: 100%;
  font-family: sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--if-color);
}

nav{
  display: flex;
  Justify-content: space-between;
}

.app-nav {
  /* display: flex; */
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-nav-ref {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.app-nav-ref:hover {
  background-color: rgba(255, 255, 255, 0.1);  
}

.logout{
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.world-map {
  width: 200vh;
  height: 100%;
  min-height: 300px;
  background: url('../img/map-bg.jpg') no-repeat 50% 50%;
  background-size: 115% 115%;
  position: relative;
}

.curr-loc-highlight,
.loc-highlight {
  width: 10%;
  height: 10%;
  position: absolute;
  display: none;
}


.loc-highlight {
  background-color: rgba(0, 0, 100, 0.5);
}

.curr-loc-highlight {
  background-color: rgba(100, 0, 0, 0.5);
}

.current-loc-info,
.loc-info {
  /* position: fixed; */
  width: 100%;
  line-height: 30px;
  padding: 10px 20px;
  box-sizing: border-box;
  display: none;
  bottom: 0;
  left: 0;;
  margin: 0;
  background-color: rgba(255,255,255, .4);
  /* color: ; */
  border: 1px solid #000;
}

.current-loc-info {
  left: auto;
  right: 0.5%;;
}

.info-heading {
  margin: 5px 0;
}

.occupy-btn {
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.occupy-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}



#map {
  height: 100%;
}

#info-box {
  background-color: white;
  border: 1px solid black;
  bottom: 30px;
  height: 20px;
  padding: 10px;
  position: absolute;
  left: 30px;
}